@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Roboto+Slab&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto Slab", serif;
  background-color: white;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
}

.animacionbanner {
  color: white;
  font-size: 4rem;
  animation-name: animacionbanner;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-delay: 0;
}

@keyframes animacionbanner {
  0% {
    color: white;
  }
  25% {
    color: #E0F4FF;
  }
  50% {
    color: hsl(210, 100%, 76%);
  }
  75% {
    color: #39A7FF;
  }
  100% {
    color: white;
  }
}
header .navcolor {
  background-color: #E0F4FF;
}
header .navcolor img {
  width: 120px;
  margin-top: 5px;
  margin-left: 5px;
}
header .navcolor ul li {
  border-bottom: 3px #39A7FF solid;
  padding-bottom: 1px;
  margin: 20px;
}

.banner {
  background-image: url(../archivos/banner5.avif);
  height: 200px;
  background-size: cover;
  background-position: center;
  text-align: center;
  font-size: larger;
  color: white;
  text-shadow: 4px 1px 19px rgb(0, 0, 0);
  margin-bottom: 10%;
}

footer {
  padding-top: 1%;
  height: 100px;
  margin-top: 5%;
  background-image: linear-gradient(to left bottom, #ffffff, #f2f3ff, #e1e9ff, #ccdfff, #b1d7ff, #b1d7ff, #b1d7ff, #b1d7ff, #ccdfff, #e1e9ff, #f2f3ff, #ffffff);
  text-align: center;
}

.titulo2 {
  margin-top: 2%;
  text-align: center;
  color: black;
  text-decoration: underline;
}

.bienvenida {
  background-image: linear-gradient(to left bottom, #84cdfc, #a7d4ff, #c4dcff, #dbe5ff, #edefff, #edefff, #edefff, #edefff, #dbe5ff, #c4dcff, #a7d4ff, #84cdfc);
  color: black;
  padding: 5px;
  padding-left: 2%;
  margin-top: 4%;
}
.bienvenida .texto1 {
  text-align: justify;
  font-size: 2rem;
}

.imagenesindex {
  margin-top: 10%;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  -moz-column-gap: 5%;
       column-gap: 5%;
  justify-content: center;
}

.imagen1 img {
  padding-left: 10%;
  width: 350px;
}

.imagen2 img {
  padding-left: 10%;
  width: 350px;
}

.imagen3 img {
  padding-left: 10%;
  width: 350px;
}

.textoi {
  text-align: center;
  text-transform: uppercase;
}

.contacton .tituloc {
  margin-top: 10%;
  margin-bottom: 4%;
  margin-left: 3%;
  margin-right: 3%;
  text-align: center;
  font-size: 2.5rem;
}

.contacton2 {
  margin-top: 10%;
  background-image: linear-gradient(to left bottom, #84cdfc, #a7d4ff, #c4dcff, #dbe5ff, #edefff, #edefff, #edefff, #edefff, #dbe5ff, #c4dcff, #a7d4ff, #84cdfc);
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 400px;
  row-gap: 100%;
  justify-content: center;
}
.contacton2 .datos {
  margin-top: 12%;
}

.imagencontactanos img {
  width: 400px;
}

.contacton3 {
  width: 400px;
  margin: auto;
  margin-top: 2%;
  text-align: center;
  background-image: linear-gradient(to left bottom, #84cdfc, #a7d4ff, #c4dcff, #dbe5ff, #edefff, #edefff, #edefff, #edefff, #dbe5ff, #c4dcff, #a7d4ff, #84cdfc);
  padding: 30px;
  border-radius: 2px;
  font-family: "calibri";
  color: rgb(5, 5, 6);
  box-shadow: 7px 13px 37px #87C4FF;
}
.contacton3 .form {
  margin-bottom: 5%;
}
.contacton3 .cajas {
  width: 100%;
  background-color: aliceblue;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  border: 1px solid #87C4FF;
  font-family: "calibri";
  font-size: 18px;
  margin-left: -2%;
}
.contacton3 .boton {
  width: 50%;
  background-color: #0389f7;
  padding: 12px;
  color: white;
  margin-left: 16px 0;
  font-size: 25px;
  font-family: "calibri";
}

.nosotros {
  margin-top: 10%;
  display: grid;
  grid-template-columns: 450px 450px;
  grid-template-rows: 100px 400px 500px;
  -moz-column-gap: 5%;
       column-gap: 5%;
  row-gap: 10%;
  justify-content: center;
  align-content: center;
  text-align: center;
  grid-template-areas: "descripcion descripcion" "mision vision" "imagen imagen";
}
.nosotros .n1 {
  text-align: justify;
  grid-area: descripcion;
  margin-left: 2%;
  margin-right: 2%;
}
.nosotros .n1 .pnosotros {
  font-size: 25px;
  margin-left: 3%;
  margin-right: 3%;
}
.nosotros .n2 {
  background-image: linear-gradient(to left bottom, #84cdfc, #a7d4ff, #c4dcff, #dbe5ff, #edefff, #edefff, #edefff, #edefff, #dbe5ff, #c4dcff, #a7d4ff, #84cdfc);
  grid-area: mision;
}
.nosotros .n2 .vision {
  margin-top: 1%;
  margin-bottom: 5%;
}
.nosotros .n2 .pnosotros {
  font-size: 23px;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
}
.nosotros .n3 {
  background-image: linear-gradient(to left bottom, #84cdfc, #a7d4ff, #c4dcff, #dbe5ff, #edefff, #edefff, #edefff, #edefff, #dbe5ff, #c4dcff, #a7d4ff, #84cdfc);
  grid-area: vision;
}
.nosotros .n3 .pnosotros {
  font-size: 23px;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
}
.nosotros .n3 .mision {
  margin-top: 1%;
  margin-bottom: 5%;
}
.nosotros .n4 {
  grid-area: imagen;
}

.psicologop {
  margin-top: 3%;
  text-align: center;
}
.psicologop .profesionales {
  text-align: justify;
  margin-top: 4%;
  font-size: 2rem;
  padding-left: 2%;
  padding-right: 2%;
}

.perfil {
  margin-top: 4%;
  margin-bottom: 10%;
  display: grid;
  grid-template-columns: 300px 900px;
  -moz-column-gap: 10%;
       column-gap: 10%;
  justify-content: center;
  align-content: first baseline;
}

.perfil img {
  width: 400px;
}

.parrafop {
  background-image: linear-gradient(to left bottom, #84cdfc, #a7d4ff, #c4dcff, #dbe5ff, #edefff, #edefff, #edefff, #edefff, #dbe5ff, #c4dcff, #a7d4ff, #84cdfc);
}
.parrafop .nombrep1 {
  margin-top: 3%;
  margin-bottom: 5%;
  text-align: center;
}
.parrafop .nombrep2 {
  margin-top: 3%;
  margin-bottom: 5%;
  text-align: center;
}
.parrafop .descripcionp {
  margin-left: 40px;
  margin-right: 40px;
}

.perfil2 {
  margin-top: 4%;
  margin-bottom: 10%;
  display: grid;
  grid-template-columns: 300px 900px;
  -moz-column-gap: 10%;
       column-gap: 10%;
  justify-content: center;
  align-content: first baseline;
}

.perfil2 img {
  width: 400px;
  height: 400px;
}

.serviciod .titulos1 {
  margin-top: 10%;
  margin-bottom: 4%;
  text-align: center;
  font-size: 3rem;
}
.serviciod .titulos2 {
  margin-top: 10%;
  margin-bottom: 5%;
  text-align: center;
  font-size: 3rem;
}

.servitexx1 {
  margin-top: 10%;
}
.servitexx1 .servitexx {
  text-decoration: none;
}
.servitexx1 .servitexx .texser1 {
  font-size: 3rem;
  text-align: center;
}
.servitexx1 .servitexx .texser1:hover {
  color: #E0F4FF;
  background-color: #39A7FF;
  font-weight: 800;
}

.serviimag {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  -moz-column-gap: 5%;
       column-gap: 5%;
  justify-content: center;
}
.serviimag .imagenser1 img {
  width: 400px;
}
.serviimag .imagenser2 img {
  width: 400px;
}
.serviimag .imagenser3 img {
  width: 400px;
}
.serviimag .n4 img {
  width: 500px;
}

@media screen and (max-width: 479px) {
  .imagenesindex {
    grid-template-columns: 350px;
  }
  .serviimag {
    display: none;
  }
  .perfil {
    grid-template-columns: 400px;
  }
  .perfil img {
    width: 400px;
  }
  .perfil2 {
    grid-template-columns: 400px;
  }
  .perfil2 img {
    width: 400px;
  }
  .nosotros img {
    width: 100%;
  }
  .nosotros {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .n2 {
    margin-top: 10%;
  }
  .n3 {
    margin-top: 10%;
  }
  .n4 {
    margin-top: 10%;
  }
  .contacton .tituloc {
    margin-left: 20%;
    margin-right: 20%;
    font-size: 20px;
  }
  .contacton2 {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
  }
  .contacton2 img {
    width: 250px;
  }
  .contacton3 {
    width: 80%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 1200px) {
  .imagenesindex {
    grid-template-columns: 400px;
    grid-template-rows: 400px 400px 400px;
    row-gap: 1%;
    justify-content: center;
  }
  .serviimag {
    display: none;
  }
  .perfil img {
    width: 500px;
  }
  .perfil {
    grid-template-columns: 500px;
  }
  .perfil2 img {
    width: 500px;
  }
  .perfil2 {
    grid-template-columns: 500px;
  }
  .nosotros img {
    width: 400px;
  }
  .nosotros {
    margin-top: 42%;
    margin-bottom: 30%;
    grid-template-columns: 500px;
    grid-template-rows: 350px 300px 310px 400px;
    grid-template-areas: "descripcion" "mision" "vision" "imagen";
  }
  .contacton2 {
    margin-top: 1%;
    grid-template-columns: 400px;
    grid-template-rows: 500px 500x;
    row-gap: 0px;
    grid-template-areas: "datos" "imagen";
  }
  .contacton2 .datos {
    grid-area: datos;
  }
  .contacton2 .imagencontactanos {
    grid-area: imagen;
  }
}/*# sourceMappingURL=stilos.css.map */