@import "generales/variables";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Roboto+Slab&display=swap');

// estilos generales 

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}
  body{ 
    font-family: $font; 
background-color: white;
  }
h1{
    font-size: 4rem;
}

h2{
    font-size: 3rem;
}
p{
    font-size: 1.5rem;
}
@import "generales/animaciones";
@import "generales/headerfooter";

@import "page/index";
@import "page/contacto";
@import "page/nosotros";
@import "page/psicologo";
@import "page/servicios";

@import "generales/mediaQ";