header{
    .navcolor{
        background-color:$claro;
    img{
        width: 100px;
        margin-top: 5px;
        margin-left: 5px;
    }
    ul{
        li{
            border-bottom: 3px $oscuro solid;
            padding-bottom: 1px;
            margin: 20px;          
    }   
    }       
    }
    }

    .banner{
        background-image: url(../archivos/banner5.avif);
        height: 150px;
        background-size: cover;
        background-position:center;
        text-align:center;
        font-size: larger;
        color:white;
        text-shadow: 4px 1px 19px rgba(0,0,0,1);
        margin-bottom: 5%;
        padding-top: 2.5%;
       
    }

    footer{
        padding-top: 1%;
        height: 100px;
        margin-top: 5%;
        background-image: linear-gradient(to left bottom, #ffffff, #f2f3ff, #e1e9ff, #ccdfff, #b1d7ff, #b1d7ff, #b1d7ff, #b1d7ff, #ccdfff, #e1e9ff, #f2f3ff, #ffffff);
        text-align: center;
        
    }



