@media screen and ( max-width: 479px)

{

    .tituloc{
        font-size: 1.5rem;
    }  

.titulo2{ 
    font-size: 1.5rem;
}

.bienvenida{
    padding-top: 3%;
    font-size: 1.5rem;
    padding-left: 5%;
    padding-right: 5%;
}
    .imagenesindex
    {
        grid-template-columns: 350px;
    }

    .serviciod
    {
    .titulos1
    {
        font-size: 1.7rem;
    }
    
    .titulos2
    {
         font-size: 1.7rem;
    }
    }

    .serviimag
    {
        display:none;
    }

    .psicologop{
        margin-top: 3%;
        text-align: center;
    }

      .perfilprofe
       {
        font-size: 555rem;
      }
     
      .psicologop{
        margin-top: 3%;
        text-align: center;
        .perfilespro{
            font-size: 1.75rem;
        }
        .profesionales{
            text-align: justify;
            margin-top: 4%;
            font-size: 1.5rem;
            padding-left: 2%;
            padding-right: 2%;
        }
    }

    .perfil{
        grid-template-columns: 420px;
        align-items: center;
        justify-content: center;
    }
    
    .perfil img{
        width: 420px;
    }
    
    .perfil2
    {
        grid-template-columns: 420px;
        align-items: center;
        justify-content: center;
    }
    
    .perfil2 img{
        width: 420px;
    }
    .nosotros img{
        width: 100%;
    }
    
    .nosotros{
        display: flex;
        flex-direction:column;
        text-align: center;
        }
        .n1{
            text-align: justify;
            grid-area: descripcion;
            margin-left: 2%;
            margin-right: 2%;
            .pnosotros{
                font-size: 1.5rem;
                margin-left: 3%;
                margin-right: 3%;
            }
        }
        .n2{
            margin-top: 10%;
            .pnosotros{
                font-size: 1.5rem;  
        }
    }
        .n3{
            margin-top: 10%;
            .pnosotros{
                font-size: 1.5rem;
        }
    }
        .n4{
            margin-top: 10%;
        }

        
        .tituloc {
            font-size: rem;
        }


        .contacton2{
           display:flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
           gap: 2%;
        }
    
        .contacton2 img{
        width: 250px
        }

        .contacton3{
            width: 80%;
        }
    }

@media only screen and (min-width: 480px) and (max-width: 1200px)
{
 
.imagenesindex{
    grid-template-columns: 400px;
    grid-template-rows: 400px 400px 400px;
    row-gap:1%;
    justify-content: center; 
}

.serviimag{
    display:none;
}

.perfil img{
    width: 500px;
}

.perfil{
    grid-template-columns: 500px;
}

.perfil2 img{
    width: 500px;
}

.perfil2{
    grid-template-columns: 500px;
}

.nosotros img{
    width: 562px;
}

.nosotros{ 
    margin-top: 6%;
    gap: 1%;
    grid-template-columns:562px;
    grid-template-rows:213px  248px 274px 400px;
    grid-template-areas: 
    
    "descripcion"
    "mision"
    "vision"
    "imagen"
}

.contacton2{
    margin-top: 1%;
    grid-template-columns:400px;
    grid-template-rows:500px 500x;
    row-gap: 0px;
    grid-template-areas: 
    "datos"
    "imagen";

    .datos{
        grid-area: datos;
    }
    .imagencontactanos{
        grid-area: imagen;
    }   
    } 
    .contacton3{
        width: 80%;
    } 
}









