//tipo de letra
$font: 'Roboto Slab', serif;

//colores
$claro: #E0F4FF;
$intermedio: hsl(210, 100%, 76%);
$oscuro:#39A7FF;
$crema: #FFEED9;

// mixin 

@mixin formato ($mtop, $mbtt, $aling, $fonz)
{
    margin-top: $mtop;
    margin-bottom: $mbtt;
    text-align: $aling;
    font-size: $fonz;
}


