 /*
 #E0F4FF carito
#87C4FF intermedio
#39A7FF oscuro
#FFEED9 crema */



@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Roboto+Slab&display=swap');

/* font-family: 'Playfair Display', serif; */
*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}
  body{ 
    font-family: 'Roboto Slab', serif; 
    background-color: rgb(248, 250, 251);
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3rem;
}
p{
    font-size: 1.5rem;
}

/* header */

header{
    background-color:#E0F4FF ;
     width: 100%;
     position: sticky;
     top: 0%;
     font-size: 1.5rem;

}

header img{
    width: 120px;
    margin-top: 5px;
    margin-left: 5px;
}

header ul{
    list-style: none;
}

header li{
    display: inline-block;
    border-bottom: 3px #87C4FF solid;
    padding-bottom: 1px;
    margin: 20px;
}

header a{
    color: black;
    text-decoration: none;
}
/* Main de index*/
/* Banner*/

.banner{
    background-image: url(../archivos/banner5.avif);
    height: 200px;
    background-size: cover;
    background-position:center;
    text-align:center;
    font-size: larger;
    color:white;
    text-shadow: 4px 1px 19px rgba(0,0,0,1);
}

/* Presentacion */

.titulo2{
    margin-top: 2%;
    text-align: center;
    color:black;
    text-decoration:underline;
}

.textoi{
   color:#0389f7; 
   text-transform:uppercase;
}

.bienvenida{
    background-color:aliceblue;
    color:black ;
    padding: 2px;
    margin-top: 4%;
}

.texto1{
    font-size: 2.5rem;
}

footer{
    background-color:#39A7FF;
    text-align: center;
    margin-top: 5%;
}

.imagen1 img{
width: 350px;

}

.imagen2 img{
    width: 350px;
}

.imagen3 img{
    width: 350px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

.imagenesindex{
    margin-top: 10%;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    column-gap: 5%;
    justify-content: center; 
}

.n4 img{
    width: 500px;
}

.nosotros{
    margin-top: 20%;
    display: grid;
    grid-template-columns: 450px 450px;
    grid-template-rows:100px 350px 500px;
    column-gap: 5%;
    row-gap: 8%;
    justify-content: center;
    align-content: center;
    text-align: center;   
    grid-template-areas: 
    "descripcion descripcion"
    "mision vision"
    "imagen imagen"
}
.n1{
    text-align: justify;
    grid-area: descripcion;
    margin-left: 2%;
    margin-right: 2%;
}

.n2{
    background-color: aliceblue;
    grid-area: mision;
    
}

.n3{
    background-color: aliceblue;
    grid-area: vision;
    
}

.n4{
    grid-area: imagen;
    
}




.pnosotros{
    font-size: 25px;
}

.imagencontactanos img{
    width: 400px;
}



.tituloc{
    margin-top: 10%;
    margin-bottom: 4%;
    text-align: center;
    font-size: 3rem;
}

.tituloc2{
    margin-top: 10%;
    text-align: center;
    font-size: 3rem;
}

.datos{
    margin-top: 12%;
}

.contacton2{
    margin-top: 10%;
    background-color: #E0F4FF;
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows:400px;
    row-gap: 100%;
    justify-content: center; 
}



.contacton3{
    width: 400px;
    margin:auto;
    margin-top: 2%;
    text-align: center;
    background-color:#87C4FF;
    padding: 30px;
    border-radius: 2px;
    font-family:'calibri';
    color:white;
    box-shadow: 7px 13px 37px #87C4FF;
}
.form{
    margin-bottom: 5%;
}
.cajas{
    width: 100%;
    background-color:aliceblue;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #87C4FF;
    font-family: 'calibri';
    font-size: 18px;
    margin-left:-2%;
}

.boton{
   width: 50%; 
   background-color: #0389f7;
   padding: 12px;
   color: white;
   margin-left: 16px 0;
   font-size: 25px;
   font-family: 'calibri';
}

.psicologop{
    margin-top: 3%;
    text-align: center;
}

.profesionales{
    margin-top: 4%;
    font-size: 2rem;
}


.linea:hover{
    background-color:#87C4FF;
}

.colorpe{
    color: rgb(0, 0, 0);
}

.texser1{
    font-size: 3rem;
    text-align: center;
}

.texser1:hover{
    color:#ffffff;
    background-color:#39A7FF;
    font-weight: 800;
}

.serviimag{
display: grid;
grid-template-columns: 400px 400px 400px;
column-gap: 5%;
justify-content: center; 
}
.imagenser1 img{
    width: 400px;
}
.imagenser2 img{
    width: 400px;
}
.imagenser3 img{
    width: 400px;
}

.servitexx1{
margin-top: 10%;
}

.servitexx{
text-decoration: none;
}


.perfil{
    margin-top: 4%;
    margin-bottom: 10%;
    display: grid;
    grid-template-columns: 300px 900px;
    column-gap: 10%;
    justify-content: center;
    align-content:first baseline;
    
}


.perfil img{
    width: 400px;   
}


.perfil2{
    margin-top: 4%;
    margin-bottom: 10%;
    display: grid;
    grid-template-columns: 300px 900px;
    column-gap: 10%;
    justify-content: center;
    align-content:first baseline;
   
}

.perfil2 img{
    width: 400px; 
}

.nombrep1{
    margin-top: 3%;
    margin-bottom: 5%;
    text-align: center;
}

.parrafop{
    background-color:#E0F4FF
}

.descripcionp{
    margin-left: 40px;
    margin-right: 40px;
}

@media screen and ( max-width: 479px)
{

    .imagenesindex 
    {
        grid-template-columns: 350px;
    }

    .serviimag img{
        width: 100px;
    }
    .serviimag{
        display: flex;
        flex-direction:column;
        align-content: flex-start;
        
}
.perfil img{
    width: 300px;
}
.perfil{
    grid-template-columns: 300px;
}
.perfil2 img{
    width: 300px;
}
.perfil2{
    grid-template-columns: 300px;
}
.nosotros{
display: flex;
flex-direction: column; 


}
.nosotros img{
    width: 100%;
}

.contacton2{
    display:flex;
    flex-direction: column;
    padding-left: 10%;
    

}
.contacton2 img{
    width: 250px;
} 
.contacton3
{
   width: 80%;

}
}
@media only screen and (min-width: 480px) and (max-width: 1200px)
{
 
.imagenesindex{
    grid-template-columns: 400px;
    grid-template-rows: 400px 400px 400px;
    row-gap:1%;
    justify-content: center; 
}

.serviimag{
   
    grid-template-columns: 400px;
    grid-template-rows: 400px 400px 400px;
    row-gap:1%;
    justify-content: center; 
}
.imagenser1 img{
    width: 300px;
}
.imagenser2 img{
    width: 300px;
}
.imagenser3 img{
    width: 300px;
}

.perfil{
    grid-template-columns: 400px;
}

.perfil2{
    grid-template-columns: 400px;
}
.n4 img{
    width: 500px;
}
.nosotros{ 

    margin-top: 40%;
    grid-template-columns:500px;
    grid-template-rows:350px  300px 310px 500px;
    grid-template-areas: 
    "descripcion"
    "mision"
    "vision"
    "imagen"
}

.contacton2{
margin-top: 1%;
grid-template-columns:400px;
grid-template-rows:500px 500x;
row-gap: 0px;
grid-template-areas: 
"datos"
"imagen";
}

.datos{
    grid-area: datos;
}
.imagencontactanos{
    grid-area: imagen;
}   
}



