.titulo2{
    margin-top: 2%;
    text-align: center;
    color:black;
    text-decoration:underline;
    margin-left: 5%;
    margin-right: 5%;
}

.bienvenida{
    background-image: linear-gradient(to left bottom, #84cdfc, #a7d4ff, #c4dcff, #dbe5ff, #edefff, #edefff, #edefff, #edefff, #dbe5ff, #c4dcff, #a7d4ff, #84cdfc);
    color:black ;
    padding: 5px;
    margin-top: 4%;
    text-align: justify;
    font-size: 2rem;
    padding-left: 2%;
    padding-right: 2%;
}

.imagenesindex{
    margin-top: 10%;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    column-gap: 2%;
    justify-content: center; 
    }

    .imagen1 img{
        padding-left: 10%;
        width: 350px;
    }

    .imagen2 img{
        padding-left: 10%;
        width: 350px;
    }
    
    .imagen3 img{
        padding-left: 10%;
        width: 350px;
        
    }
    .textoi{
        text-align: center;
        text-transform:uppercase;
     }