
    .nosotros{
        margin-top: 10%;
        display: grid;
        grid-template-columns: 450px 450px;
        grid-template-rows:100px 400px 500px;
        column-gap: 5%;
        row-gap: 10%;
        justify-content: center;
        align-content: center;
        text-align: center;  
        grid-template-areas: 
        "descripcion descripcion"
        "mision vision"
        "imagen imagen";

        .n1{
            text-align: justify;
            grid-area: descripcion;
            margin-left: 2%;
            margin-right: 2%;
            .pnosotros{
                font-size: 25px;
                margin-left: 3%;
                margin-right: 3%;
            }
        }

        .n2{
            background-image: linear-gradient(to left bottom, #84cdfc, #a7d4ff, #c4dcff, #dbe5ff, #edefff, #edefff, #edefff, #edefff, #dbe5ff, #c4dcff, #a7d4ff, #84cdfc);
            grid-area: mision;
            .vision{
                margin-top: 1%;
                margin-bottom: 5%;
            }
            .pnosotros{
                font-size: 23px;
                margin-left: 2%;
                margin-right: 2%;
                margin-bottom: 2%;
                
            }
            
        }
        
        .n3{
            background-image: linear-gradient(to left bottom, #84cdfc, #a7d4ff, #c4dcff, #dbe5ff, #edefff, #edefff, #edefff, #edefff, #dbe5ff, #c4dcff, #a7d4ff, #84cdfc);
            grid-area: vision;
            .pnosotros{
                font-size: 23px;
                margin-left: 2%;
                margin-right: 2%;
                margin-bottom: 2%;
                
            }
            .mision{
                margin-top: 1%;
                margin-bottom: 5%;
            }
        }
        
        .n4{
            grid-area: imagen;     
        }

    }
