.psicologop{
    margin-top: 3%;
    text-align: center;
    .profesionales{
        text-align: justify;
        margin-top: 4%;
        font-size: 2rem;
        padding-left: 2%;
        padding-right: 2%;
    }
}

.perfil{
   
    margin-top: 4%;
    margin-bottom: 10%;
    display: grid;
    grid-template-columns: 300px 830px;
    column-gap: 1%;
    justify-content: center;
    align-content: center;

   
}
.perfil img{
    width: 300px;
    height: 300px;
}

.parrafop{
    background-image: linear-gradient(to left bottom, #84cdfc, #a7d4ff, #c4dcff, #dbe5ff, #edefff, #edefff, #edefff, #edefff, #dbe5ff, #c4dcff, #a7d4ff, #84cdfc);    .nombrep1{
        margin-top: 3%;
        margin-bottom: 5%; 
        text-align: center;
    }
    .nombrep2{
        margin-top: 3%;
        margin-bottom: 5%;
        text-align: center;
    }
    
    .descripcionp{
        margin-left: 40px;
        margin-right: 40px;
    }
}

.perfil2{
    
    margin-top: 4%;
    margin-bottom: 10%;
    display: grid;
    grid-template-columns: 300px 830px;
    column-gap: 1%;
    justify-content: center;
    align-content: center;

}

.perfil2 img{
    width: 300px; 
    height: 400px;
}



