.serviciod{
    .titulos1{
        @include formato(10%, 4%, center, 3rem)
    }
    .titulos2{
        @include formato(10%, 5%, center, 3rem)
    }
}

.servitexx1{
    margin-top: 10%;
    .servitexx{
        text-decoration: none;
        .texser1{
            font-size: 3rem;
            text-align: center;
        }
        .texser1:hover{
            color:$claro;
            background-color: $oscuro;
            font-weight: 800;
        }
        }
        }

    .serviimag{
            display: grid;
            grid-template-columns: 400px 400px 400px;
            column-gap: 5%;
            justify-content: center;

            .imagenser1 img{
                width: 350px;
            }
            .imagenser2 img{
                width:350px;
            }
            .imagenser3 img{
                width: 350px;
            }

            }
    

    



